<?xml version="1.0" encoding="UTF-8"?>
<?page id="mainWin" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.cdi.DelegatingVariableResolver"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" arg0="win"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?script type="text/javascript" src="gui/js/jquery-1.6.1.min.js"?>
<?script type="text/javascript" src="gui/js/jquery.format.1.05.js"?>
<?script type="text/javascript" src="gui/js/jquery.maskMoney.js"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
	<window id="winCadastrarEditarServidor" border="normal"
		apply="br.com.rjconsultores.retaguarda.totem.controllers.parametros.CadastrarEditarServidorController"
		title="Configurações Servidor"
		width="400px" height="330px" contentStyle="overflow:auto">
		<toolbar>
			<hbox spacing="5px" style="padding:1px" align="right">
				<button id="btnSalvar" height="20"
					tooltiptext="Salvar"
					image="/gui/img/save.png" width="35px" />
				<button id="btnFechar" height="20"
					tooltiptext="Fechar"
					image="/gui/img/exit.png" width="35px"
					onClick="winCadastrarEditarServidor.detach()" />
			</hbox>
		</toolbar>
		<grid fixedLayout="true">
			<columns>
				<column width="100px" />
				<column width="100%" />
			</columns>
			<rows>
				<row>
					<label
						value="Servidor AS400" />
					<textbox id="txtServidor" width="200px" />
				</row>
				<row>
					<label
						value="Lib" />
					<textbox id="txtLib" width="200px"
						onChange="self.setValue(self.getValue().toUpperCase().trim());" />
				</row>
				
				<row>
					<label
						value="Tabela Preço" />
					<textbox id="txtTblPreco" width="200px"
						onChange="self.setValue(self.getValue().toUpperCase().trim());" />
				</row>
				<row>
					<label
						value="Agência" />
					<textbox id="txtAgencia" width="200px" 
						onChange="self.setValue(self.getValue().toUpperCase().trim());" />
				</row>
				<row>
					<label
						value="Usuário SRVP" />
					<textbox id="txtUsuarioSRVP" width="200px" 
						onChange="self.setValue(self.getValue().toUpperCase().trim());" />
				</row>
				<row>
					<label
						value="Senha SRVP" />
					<textbox id="txtSenhaSRVP" width="200px" type="password" 
						onChange="self.setValue(self.getValue().toUpperCase().trim());" />
				</row>
				
				<row spans="2" align="center">
					<button id ="btnSincronizar" label="Sincronizar Dados" width="360px" />
				</row>				
			</rows>
		</grid>
	</window>
</zk>