<?xml version="1.0" encoding="UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.cdi.DelegatingVariableResolver"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" arg0="winVisualizarRelatorios"?>

<zk xmlns="http://www.zkoss.org/2005/zul">

	<window id="winVisualizarRelatorios" border="normal"
		apply="br.com.rjconsultores.retaguarda.totem.controllers.relatorios.VisualizarRelatorioController" width="100%" height="100%"
		contentStyle="overflow:auto">
		<div align="center">
			<iframe id="report" height="800px" width="1200px" />
		</div>
	</window>
</zk>