<?xml version="1.0" encoding="UTF-8"?>
<?page id="mainWin" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.cdi.DelegatingVariableResolver"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" arg0="win"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?script type="text/javascript" src="gui/js/jquery-1.6.1.min.js"?>
<?script type="text/javascript" src="gui/js/jquery.format.1.05.js"?>
<?script type="text/javascript" src="gui/js/jquery.maskMoney.js"?>
<zk xmlns="http://www.zkoss.org/2005/zul">

	<window id="winPesquisarFormaPagamento"
		title="${c:l('pesquisarFormaPagamentoController.window.title')}"
		apply="br.com.rjconsultores.retaguarda.totem.controllers.formapagamento.PesquisarFormaPagamentoController"
		contentStyle="overflow:auto" height="450px" width="650px"
		border="normal">

		<toolbar>
			<button id="btnRefresh" image="/gui/img/refresh.png"
				width="35px"
				tooltiptext="Atualizar" />

			<separator orient="vertical" />
			<button id="btnNovo" image="/gui/img/add.png" width="35px"
				tooltiptext="Novo" />
			<separator orient="vertical" />
			<button id="btnFechar"
				onClick="winPesquisarFormaPagamento.detach()"
				image="/gui/img/exit.png" width="35px"
				tooltiptext="Fechar" />
		</toolbar>

		<grid fixedLayout="true">
			<columns>
				<column width="20%" />
				<column width="82%" />
			</columns>
			<rows>
				<row>
					<label width="90%"
						value="Descrição" />
					<textbox id="txtDescricao" width="90%" />
				</row>
			</rows>
		</grid>

		<toolbar>
			<button id="btnPesquisa" image="/gui/img/find.png"
				label="Pesquisa" />
		</toolbar>

		<paging id="pagingFormaPagamento" pageSize="15" />


		<listbox id="formaPagamentoList" checkmark="false" multiple="false"
			use="br.com.rjconsultores.retaguarda.totem.util.MyListbox" vflex="true">

			<listhead>
				<listheader width="20%" image="/gui/img/builder.gif"
					label="Código" />
				<listheader width="30%" image="/gui/img/builder.gif"
					label="Descrição" />
				<listheader width="30%" image="/gui/img/builder.gif"
					label="Fator" />
				<listheader width="20%" image="/gui/img/builder.gif"
					label="Ativo" />
			</listhead>

		</listbox>




	</window>
</zk>
