<?xml version="1.0" encoding="UTF-8"?>


<zk xmlns="http://www.zkoss.org/2005/zul">

	<window id="winGeraVendaTotalBus" title="Venda TotalBus"
		apply="br.com.rjconsultores.retaguarda.totem.controllers.vendaTotalBus.GeraVendaTotalBusController"
		contentStyle="overflow:auto" height="650px" width="950px"
		border="normal">

		<toolbar>
			<button id="btnFechar"
				onClick="winGeraVendaTotalBus.detach()" image="/gui/img/exit.png"
				width="35px" tooltiptext="Fechar" />
		</toolbar>

		<tabbox id="tabBox">
			<tabs>
				<tab id="tabVendaTotalBus" label="TotalBus" />
			</tabs>
			<tabpanels>

				<tabpanel height="530px">

					<grid fixedLayout="true" height="50px">
						<columns height="40px">
							<column height="40px" />
							<column height="40px" />
						</columns>
						<rows>
							<row align="center" height="40px">
								<!-- 								<button id="btnSobeArquivoDaruma" -->
								<!-- 									label="Abrir arquivo Daruma" upload="true" width="80%" -->
								<!-- 									height="40px" /> -->
																<button id="btnSalvarVendaTotalBus"
																	label="Salvar" disabled="false" width="80%"
																	height="40px" />
								<button id="btnTotalBus"
									label="Gera Venda Total Bus" width="80%" height="40px" />
							</row>
						</rows>
					</grid>

					<listbox id="listVendasTotalBus"
						use="br.com.rjconsultores.retaguarda.totem.util.MyListbox"
						vflex="true">

						<listhead>
							<listheader width="15%"
								image="/gui/img/builder.gif" label="Serviço" />
							<listheader width="20%"
								image="/gui/img/builder.gif" label="Origem" />
							<listheader width="20%"
								image="/gui/img/builder.gif" label="Destino" />
							<listheader width="10%"
								image="/gui/img/builder.gif" label="Hora" />
							<listheader width="20%"
								image="/gui/img/builder.gif" label="Valor" />
							<listheader width="25%"
								image="/gui/img/builder.gif" label="Linha" />
							<listheader width="15%"
								image="/gui/img/builder.gif" label="Retorno" />
						</listhead>
					</listbox>
				</tabpanel>

			</tabpanels>
		</tabbox>

	</window>
</zk>
