<?xml version="1.0" encoding="UTF-8"?>
<?page id="cooWin" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.cdi.DelegatingVariableResolver"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" arg0="win"?>
<?init class="br.com.rjconsultores.authentication.AuthenticationInit" arg0="win"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?script type="text/javascript" src="gui/js/jquery-1.6.1.min.js"?>
<?script type="text/javascript" src="gui/js/jquery.format.1.05.js"?>
<?script type="text/javascript" src="gui/js/jquery.maskMoney.js"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>



<zk xmlns="http://www.zkoss.org/2005/zul">

	<window id="winEditarCoordenadasController"
		title="${c:l('editarCoordenadasController.window.title')}"
		apply="br.com.rjconsultores.retaguarda.totem.controllers.localidades.EditarCoordenadasController"
		contentStyle="overflow:auto" height="95%" width="80%"
		border="normal">
		<toolbar>
			<hbox spacing="5px" style="padding:1px" align="right">
				<button id="btnSalvar" height="20" tooltiptext="Salvar"
					image="/gui/img/save.png" width="35px" />
				<button id="btnFechar" height="20" tooltiptext="Fechar"
					image="/gui/img/exit.png" width="35px"
					onClick="winEditarCoordenadasController.detach()" />
				<button id="btnRefresh" image="/gui/img/refresh.png"
					width="35px" tooltiptext="Atualizar" />
				<label
					value="${c:l('editarCoordenadasController.title')}" />
			</hbox>
		</toolbar>

		<vbox height="25%">

			<listbox id="listDetalheHorario" checkmark="false"
				multiple="false"
				use="br.com.rjconsultores.retaguarda.totem.util.MyListbox" height="50%">


				<listhead>
					<listheader width="10%" image="/gui/img/builder.gif"
						label="Sequencia" />
					<listheader width="30%" image="/gui/img/builder.gif"
						label="Localidade" />
					<listheader width="30%" image="/gui/img/builder.gif"
						label="Latitude" />
					<listheader width="30%" image="/gui/img/builder.gif"
						label="Longitude" />
				</listhead>

			</listbox>


		</vbox>

		<hbox align="center" width="100%">
			<grid fixedLayout="true" width="100%">
				<columns>
					<column width="15%" align="right" />
					<column width="50%" align="center" />
					<column width="5%" align="left" />
					<column width="25%" align="left" />


				</columns>
				<rows>
					<row align="center">

						<label value="Busca Local" />
						<textbox id="txtLocal" width="100%" />

						<button id="btnPesquisarLocal"
							tooltiptext="Pesquisar Localização" image="/gui/img/find.png" />
						<button id="btnConfirmaCoordenada"
							tooltiptext="Confirma Coordenada" image="/gui/img/map.png" />

					</row>
				</rows>
			</grid>
		</hbox>
		<div align="center" width="100%" height="62%">
			<script type="text/javascript"
				content="zk.googleAPIkey='AIzaSyAzOEPR1vOY-rCDIrx6G7SYYFfHbpr4WeQ'" />

			<gmaps version="3.9" id="gmaps" width="100%" height="100%"
				showSmallCtrl="true" zoom="10" protocol="https">

			</gmaps>
		</div>


	</window>
</zk>
