<?xml version="1.0" encoding="UTF-8"?>


<zk xmlns="http://www.zkoss.org/2005/zul">

	<window id="winImportacao"
		title="${c:l('importacaoController.window.title')}"
		apply="br.com.rjconsultores.retaguarda.totem.controllers.importacao.ImportacaoDarumaController"
		contentStyle="overflow:auto" height="650px" width="950px"
		border="normal">

		<toolbar>
			<button id="btnFechar" onClick="winImportacao.detach()"
				image="/gui/img/exit.png" width="35px" tooltiptext="Fechar" />
		</toolbar>

		<tabbox id="tabBox">
			<tabs>
				<tab id="tabArqDaruma" label="Daruma" />
			</tabs>
			<tabpanels>

				<tabpanel height="530px">

					<grid fixedLayout="true" height="50px">
						<columns height="40px">
							<column height="40px" />
							<column height="40px" />
						</columns>
						<rows>
							<row align="center" height="40px">
								<button id="btnSobeArquivoDaruma"
									label="Abrir arquivo Daruma" upload="true" width="80%"
									height="40px" />
								<button id="btnSalvarArquivosDaruma"
									label="Salvar Arquivo Daruma" disabled="true" width="80%"
									height="40px" />
								<!-- 								<button id="btnTotalBus" -->
								<!-- 									label="Total Bus" width="80%" -->
								<!-- 									height="40px" /> -->
							</row>
						</rows>
					</grid>

					<listbox id="listDarumaImport"
						use="br.com.rjconsultores.retaguarda.util.MyListbox"
						vflex="true">

						<listhead>
							<listheader width="15%"
								image="/gui/img/builder.gif" label="Bilhete" />
							<listheader width="25%"
								image="/gui/img/builder.gif" label="Origem" />
							<listheader width="25%"
								image="/gui/img/builder.gif" label="Destino" />
							<listheader width="10%"
								image="/gui/img/builder.gif" label="Hora" />
							<listheader width="20%"
								image="/gui/img/builder.gif" label="Valor" />
							<listheader width="10%"
								image="/gui/img/builder.gif" label="Estado" />
							<listheader width="20%"
								image="/gui/img/builder.gif" label="Status TotalBus" />
						</listhead>
					</listbox>
				</tabpanel>

			</tabpanels>
		</tabbox>

	</window>
</zk>
